
@font-face {
    font-family:"Humnst777 Blk BT";
    src: url('../fonts/Hum777k.ttf');
}

@font-face {
    font-family:"Humnst777 BT";
    src: url('../fonts/Hum777Bd.ttf');
}

@font-face {
    font-family:"Freehand575 BT";
    src: url('../fonts/Freeh575.ttf');
}

@font-face {
    font-family:"Glowworm";
    src: url('../fonts/GLOWWORM.ttf');
}