<div id="faq">
    <span class="faq-question">Why should you tell us your problem?</span>
    <h4>Because we care. We want to solve your problem and make you a happy person.
      It's a win win :-).</h4>

    <span class="faq-question">Do I have to pay something when
        you solve my problem?</span>
    <h4>Absolutely not. When we suggest you with a solution
        you can choose to do what ever you want with it.</h4>
</div>