<h1>What Is Your Problem?!</h1>
<h2>No, really. We want to know.</h2>
<form id="problem-form" class="col-lg-5 col-lg-offset-4">
  <label for="comment">My biggest problem is:</label>
  <textarea class="form-control" rows="2" id="comment"></textarea>
  <br/>
  <span>I would pay </span> <input type="text"/> <span>$</span>
  <select>
    <option value="Monthly">Monthly</option>
    <option value="Lifetime">Lifetime</option>
  </select> <span>to solve it.</span>
  <br/>
  <br/>
  <span id="send-solution-text">Send the solution here (email):</span><input type="email" required />
  <div class="clearfix"></div>
  <a id="solve-it-btn" class="btn btn-success solve-it-js  pull-right">Solve it for me</a>
</form>
<div class="clearfix"></div>
<a href="#" id="why-link" class="pull-left why-link-js">Why should I tell you?</a>