<div id="thank-you-page">
  <h1>Awesome!</h1>
  <h2>We'll do our best to come up with<br/>
    the best solution for you.</h2>

  <h2>In the mean while - have a coffee, take a break or <br/>
    <a href="#">submit</a> another thing you want us to solve.</h2>
</div>