body{
    flex: 1;
}
#main-block{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#content-top{
    overflow: auto;
    display: block;
}

#tweet{
    margin-right: 3%;
    float: right;
}


#main-text{
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
}

/*for desktop only*/
#product-for-market{
    display: flex;
    flex-direction: row;
    flex: 1;
}

#product-for-market{
    font-size: 18px;
    align-self: center;
    text-align: center;
}

#product-for-market select{
    padding: 10px;
}


#spin-row{
    text-align: center;
    margin-top: 20px;
}

#spin-row a{
    font-size: 24px;
    padding: 5px 15px;
    background-color: green;
    margin: 0 auto;
    display: block;
    color: white;
    width: 25%;
}

/*Desktop only */
@media screen and (min-width: 800px) {
    #for{
        margin: 0 30px;
    }

    #product-for-market{
        margin:  50px 0;
    }
}


/* MOBILE VERSION */

@media only screen and (max-device-width: 480px) {

    #main-text{
        font-size: 38px;
    }

    #spin-row a{
        width: 50%;
    }

    #for{
        margin: 15px 0;
    }


    #product-for-market{
        flex-direction: column;
        flex: 1;
    }

}