          <div class="row">
              <div class="content">
                <p class="domain-name">SideProjects.co.il</p>
                <h1>
                  בונים מוצרים מגניבים. ביחד, מהצד
                </h1>

                <p>
SideProjects.co.il
                  הוא פרויקט צד של אוהד פרי ושי שפרנק
                </p>
                <form id="notify-form" class="form-horizontal">
                  <span id="error-email" class="error-text"></span>
                  <input type="email" id="email" placeholder="אימייל" class="input-large">
                  <a id="notify-me" class="btn btn-default submit-btn">בקש גישה מוקדמת</a>
                </form>
              </div>
            </div>


