                <p class="domain-name">SideProjects.co.il</p>
                <h1 id="vision-message" class="light-green">
                  בונים מוצרים מגניבים. ביחד, מהצד
                </h1>

                <p>
                  הצטרפו אלינו עכשיו, ועזרו לנו להפוך את פרוייקט הצד הזה להרבה פרוייקטים קטנים
                </p>
                <form id="notify-form" class="form-horizontal">
                  <span id="error-email" class="error-text"></span>
                  <div class="clearfix"></div>
                  <input type="email" id="email" placeholder="אימייל" class="email-input">
                  <a id="notify-me" class="btn btn-default light-green-background">בקש גישה מוקדמת</a>
                </form>


