<p>
  SideProjects.co.il
  הוא פרויקט צד של אוהד פרי ושי שפרנק
</p>
<p>
 נשמח לשמוע ממך בפוסט הרעיונות הראשון ב
  <a href="#">
    ״השבוע, שאלות ותשובות על סטארטאפים״
  </a>

</p>

<p>
    אהבת הכל חוץ מהצבע?
  לחץ
  <a href="#" id="color-change">
    כאן
  </a>
</p>