    <div id="thank-you-page">
        <div id="feedback">
             <p>Feedback SideProjects</p>
             <p>נשמח לשמוע ממך עוד</p>
             <p>הצעות, שאלות, מענות וכל מה שבא לך לכתוב. תודה!!!</p>

          <span id="error-integer-feedback" class="error-text"></span>
          <div class="clearfix"></div>
          <div id="integer-feedback" class="pull-right">
            <input type="radio" name="feedback-radio" value="1" class="radio-feedback">
            <input type="radio" name="feedback-radio" value="2" class="radio-feedback">
            <input type="radio" name="feedback-radio" value="3" class="radio-feedback">
            <input type="radio" name="feedback-radio" value="4" class="radio-feedback">
            <input type="radio" name="feedback-radio" value="5" class="radio-feedback">
          </div>

          <div class="clearfix"></div>
          <br/>
          <br/>
          <span id="error-free_text" class="error-text"></span>
          <textarea id="free_text" class="form-control" rows="2"></textarea>
            <br/>
            <a id="feedback-button" class="btn btn-success pull-left">שלח משוב</a>
        </div>

    </div>