    <div id="thank-you-page">
        <div id="feedback">
             <p>נשמח לשמוע ממך עוד</p>

          <!--################################################-->
          <span id="error-buyer-sellers" class="error-text"></span>
          <div class="clearfix"></div>
          <div id="buyer-sellers">
            <p>
              מה יותר סביר, שתרצה לצרף אנשים לרעיון שלך או שתצטרף לרעיון של מישהו אחר?
            </p>
            <div class="radio">
              <label><input type="radio" name="optradio">
                לצרף אנשים לרעיון שלי
              </label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio">
                להצטרף לרעיון של מישהו אחר
              </label>
            </div>
          </div>
          <div class="clearfix"></div>


          <!--################################################-->
          <span id="error-ideal-time" class="error-text"></span>
          <div class="clearfix"></div>
          <div id="ideal-time">
            <p>
              מה משך הזמן האידיאלי להגיע למוצר MVP בפרוייקט צד?
            </p>
            <input type="text" id="ideal-time-input"/>
            <div  id="ideal-time-select"  class="form-group">
            <select class="form-control" name="ideal-time-select">
                <option class="fltr" value="hours">
                  שעות
                </option>
                <option class="fltr" value="days">
                  ימים
                </option>
                <option class="fltr" value="weeks">
                  שבועות
                </option>
            </select>
            </div>
          </div>
          <div class="clearfix"></div>

          <!--################################################-->
          <span id="error-hours-a-week" class="error-text"></span>
          <div class="clearfix"></div>
          <div id="hours-a-week">
            <p>
              כמה שעות בשבוע אתה יכול להשקיע בפרויקט צד?
            </p>
            <input type="text" id="hours-a-week-input"/>
          </div>
          <div class="clearfix"></div>


          <!--################################################-->
          <span id="error-ideal-time" class="error-text"></span>
          <div class="clearfix"></div>
          <div id="ideal-time">
            <p>
              למה בעיקר אתה מתעניין בפרוייקטי צד?
            </p>
            <div class="radio">
              <label><input type="radio" name="optradio">
                להכיר אנשים
              </label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio">
                אתגר מקצועי
              </label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio">
                הכנסה צדדית
              </label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio">
                התנסות ביזמות
              </label>
            </div>
            <label class="radio">
              <input type="radio" name="user_choice" value="other">
                אחר:
              <input type="text" name="other_text">
            </label>
          </div>
          <div class="clearfix"></div>

          <!--################################################-->
          <p>הצעות, שאלות, מענות וכל מה שבא לך לכתוב. תודה!!!</p>
          <span id="error-free_text" class="error-text"></span>
          <textarea id="free_text" class="form-control" rows="2"></textarea>
            <br/>
            <a id="feedback-button" class="btn btn-success pull-left">שלח משוב</a>
        </div>

    </div>